body {
  background-color: #f9f9f9;
  width: 100vw;
  height: 140vh;

  margin: 0;
}

.headbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 7vh;
  margin-bottom: 3vh;
  background-size: 100%;
  color: #f9f9f9;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.headbar ul {
  display: flex;
}

.Logo {
  position: absolute;
  left: 4vw;
}
.Logo a {
  font-size: 34px;
  color: #0f0f0ff0;
}

.headbar ul {
  position: relative;
  right: 20vw;
}
.headbar li a {
  font-size: 18px;
  margin-left: 3vw;
  color: #000000f0;
  font-weight: 200;
}
#profile {
  font-weight: 600;
  color: #030303f0;
}
.logInSignUp a {
  font-size: 13px;
  color: #000000;
  margin: 0px 2px;
}
.logInSignUp {
  position: absolute;
  right: 4vw;
  top: 10vh;
}

.boardLetter {
  display: flex;
  justify-content: center;
}
#hWLetter {
  position: relative;
  top: 25vh;
}
#hWLetter a {
  font-size: 40px;
  font-weight: 700;
  color: #f4f4f4;
  z-index: 10;
}
.headbar li a:hover {
  font-weight: 600;
  border-bottom: 4px solid #2d2d2d;
}
.headbar li a {
  padding-bottom: 5vh;
  z-index: 10;
}

.putInPhoto img {
  width: 10vw;
  height: 20vh;
}
.proflieDiv {
  display: flex;
}
.sidebar {
  width: 23vw;
  margin-left: 4vw;
  height: 140vh;
  background-color: rgb(247, 170, 170);
  position: relative;
  bottom: 1.2vh;
  z-index: 0;
}
.sidebar div {
  display: flex;
  justify-content: center;
}
.sidebar div:first-child {
  margin: 10vh 2vw 5vh 2vw;
  font-size: 35px;
  color: #f4f4f4;
  font-weight: 600;
  border-bottom: 1px solid rgba(255, 255, 255, 0.718);
  padding-bottom: 2vh;
}
.sidebar div:nth-child(2) {
  font-weight: 600;
}
.sidebar div:not(:first-child) {
  font-size: 20px;
  color: #f4f4f4;

  height: 6vh;
  padding-top: 3vh;
  margin-bottom: 3vh;
}

.sidebar div:not(:first-child):hover {
  background-color: #ffdfdf62;
}

#ex_file2 {
  display: none;
}
.image-box {
  border-radius: 50%;
  margin-left: 31vw;
}
.imgfile i {
  border-radius: 50%;
  background-color: #a3a3a3;
  padding: 10px;
  position: relative;
  margin-left: 41vw;
  bottom: 5vh;
  right: 3vw;
}
#letter {
  font-size: 30px;
  margin: 15vh 0px 7vh 4vh;
  margin-left: 33vw;
}
.fixed {
  padding-left: 20vw;
  background-color: #edededcc;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.fixed p:nth-child(2n) {
  font-size: 17px;
  margin-bottom: 1vh;
  font-weight: 600;
}
.fixed p:nth-child(2n-1) {
  font-size: 14px;
}
.unfixed {
  padding-left: 20vw;
}
.unfixed p:nth-child(2n) {
  font-size: 17px;
  margin-bottom: 1vh;
  font-weight: 600;
}
.unfixed p:nth-child(2n-1) {
  font-size: 14px;
}
.modi {
  margin-left: 33vw;
  margin-top: 10vh;
}
.modi button {
  padding: 1vw 2vw;
  font-size: 15px;
  color: #f4f4f4;
  background-color: #ff7e7e;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
}
.logInSignUp {
  display: flex;
}
.logout {
  display: none;
}
#lo::after {
  content: "/";
}
